// position relative es el contenedor que encapsula a la posicion absoluta, la posicion
// relativa, a diferencia de la absoluta deja el tamaño de su area en la pantalla en un
// espacio definido, mientras que en la absoluta desaparece completamente
.tweet {
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h5 {
    margin: 0;
  }
  svg {
    &:hover {
      cursor: pointer;
      fill: #f00;
    }
  }

  &__date-add-tweet {
    position: absolute;
    right: 15px;
    font-size: 10px;
  }
}
